<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- <setting name="defaultStatementTimeout" value="10"></setting> -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="LOG4J" />
	</settings>

	<typeAliases>
		<typeAlias alias="Cuisine" type="com.iss.item.cuisine.model.Cuisine"></typeAlias>
		<typeAlias alias="Feedback" type="com.iss.item.feedback.model.Feedback"></typeAlias>
		<typeAlias alias="Order" type="com.iss.item.order.model.Order"></typeAlias>
		<typeAlias alias="Store" type="com.iss.item.store.model.Store"></typeAlias>
		<typeAlias alias="User" type="com.iss.item.user.model.User"></typeAlias>
	</typeAliases>
</configuration>