body{
}
.header{
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#nav{
	padding: 20px 0;
}
.module{
    padding: 20px 5px;
    border-top: 15px solid #ccc;
    display: none;
}
th{
	white-space: nowrap;
}
.tool-bar{
	padding:10px;
}

.cuisine-state-ope0{
	color:#999
}
.hidden-column{
	display: none;
}

#m2 img{
	width:50px;
	height:50px;
}
#m1 button,#m2 button{
	margin-left: 10px;
}
#m2 table td,#m4 table td{
	vertical-align: middle;
}

#m4 img{
	width:50px;
	height:50px;
}